fix url-encoding behavior of httpLabel and httpQuery members

Right now we encode the entire path according to the rules of RFC-3986 (modulo `:` being a valid `pchar`, see https://github.com/awslabs/smithy-kotlin/issues/118). 

The rules for percent encoding have been clarified for [httpLabel](https://awslabs.github.io/smithy/1.0/spec/core/http-traits.html#httplabel-trait) and [httpQuery](https://awslabs.github.io/smithy/1.0/spec/core/http-traits.html#httpquery-trait):

>Reserved characters defined in section 2.2 of RFC3986 MUST be percent-encoded (that is, :/?#[]@!$&'()*+,;=).

What we ought to do is provide separate encode functions (one for labels, one for query params) that follows these rules and call it when constructing the [URI](https://github.com/awslabs/smithy-kotlin/blob/v0.2.0-M1/smithy-kotlin-codegen/src/main/kotlin/software/amazon/smithy/kotlin/codegen/rendering/protocol/HttpBindingProtocolGenerator.kt#L287). 

NOTE: It looks like we may already encode query parameters just fine (see [encodeUrlComponent](https://github.com/awslabs/smithy-kotlin/blob/v0.2.0-M1/client-runtime/protocol/http/common/src/software/aws/clientrt/http/util/Text.kt#L15))

NOTE: Greedy labels (`+`) can have path separators.

Add a protocol tests for this as well so others benefit.

See: https://github.com/awslabs/smithy-rs/pull/368 
